.hangman-game {
  text-align: center;
}

.current-theme {
  text-align: center;
  font-size: 1.2em; /* Optional: adjust the font size as needed */
  margin-top: 10px; /* Optional: adjust the spacing as needed */
}

.hangman-game .word {
  font-size: 2em;
  letter-spacing: 0.1em;
  margin: 20px 0;
}

.hangman-game .alphabet {
  margin: 20px 0;
}

.hangman-game .alphabet button {
  padding: 5px 10px;
  margin: 0 2px;
  background-color: #61dafb;
  border: none;
  border-radius: 3px;
}

.hangman-game .alphabet button:disabled {
  background-color: #ccc;
}

.hangman-game .player-info {
  margin-top: 20px;
}

.hangman-game .hangman-drawing {
  margin: 0 auto;
  border: 1px solid #ccc; /* Optional: for visualization */
}

.hangman-game .hangman-drawing line,
.hangman-game .hangman-drawing circle {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
}

@media screen and (max-width: 600px) {
  .hangman-game {
      /* Adjusted styles for mobile */
  }
}
